<template name="find">
    <div class="container">
        <div class="logo logo--small">
            YGMYG
            <a class="logo__back" href="/">&#10094;</a>
        </div>
        <div class="find__step">
            {{#if stepOne}}
                {{#unless gender}}
                    <p class="find__text">
                        I want a gift for a <span class="find__blank"></span>
                    </p>
                    <div class="find__buttons">
                        <input class="button find__button" type="radio" id="female" name="gender" value="female" data-hook="gender" />
                        <label class="button find__button" for="female">FEMALE</label>
                        <input class="button find__button" type="radio" id="male" name="gender" value="male" data-hook="gender" />
                        <label class="button find__button" for="male">MALE</label>
                    </div>
                {{/unless}}
                <div class="find__text">I'm getting it for my <span class="find__blank"></span></div>
                <div class="find__buttons">
                    {{#each recipients}}
                        <input class="button find__button" type="radio" id="{{name}}" name="recipient" value="{{name}}" data-hook="recipient" />
                        <label class="button find__button" for="{{name}}">{{name}}</label>
                    {{/each}}
                    <!-- TODO add select or something with the rest of the options -->
                    <input class="button find__button" type="radio" id="other" name="recipient" value="other" data-hook="recipient" />
                    <label class="button find__button" for="other">other</label>
                </div>

                <div class="find__text"><span class="capitalize">{{genderPossesive}}</span> age is <span class="find__blank"></span></div>
                <!-- TODO Figure out better way to display this select -->
                <select data-hook="age">
                    <option>Select age</option>
                    <option>Newborn</option>
                    <option>1 - 5</option>
                    <option>11 - 15</option>
                    <option>16 - 20</option>
                    <option>21 - 30</option>
                    <option>31 - 40</option>
                    <option>41 - 50</option>
                    <option>50+</option>
                </select>
            {{/if}}
            {{#if stepTwo}}
                <p>step two</p>
            {{/if}}
        </div>
    </div>
</template>