<template name="find">
    <div class="container">
        <div class="logo logo--small">
            YGMYG
            <a class="logo__back" href="/">&#10094;</a>
        </div>
        <div class="find__step">
            {{#if stepOne}}
                {{#unless routeGender}}
                    <p class="find__text">
                        I want a gift for a <span class="find__blank">{{gender}}</span>
                    </p>
                    <div class="find__inputs">
                        <input class="button button--raised find__button" type="radio" id="female" name="gender" value="female" data-hook="gender" />
                        <label class="button button--raised find__button" for="female">FEMALE</label>
                        <input class="button button--raised find__button" type="radio" id="male" name="gender" value="male" data-hook="gender" />
                        <label class="button button--raised find__button" for="male">MALE</label>
                    </div>
                {{/unless}}
                <div class="find__text">I'm getting it for my <span class="find__blank">{{recipient}}</span></div>
                <div class="find__inputs">
                    {{#unless updatedRecipients}}
                        {{#each recipients}}
                            <input class="button find__button button--raised" type="radio" id="{{name}}" name="recipient" value="{{name}}" data-hook="recipient" />
                            <label class="button find__button button--raised" for="{{name}}">{{name}}</label>
                        {{/each}}
                    {{else}}
                        {{#each updatedRecipients}}
                            <input class="button find__button button--raised" type="radio" id="{{name}}" name="recipient" value="{{name}}" data-hook="recipient" />
                            <label class="button find__button button--raised" for="{{name}}">{{name}}</label>
                        {{/each}}
                    {{/unless}}
                    <!-- TODO add select or something with the rest of the options -->
                    <select class="button find__button button--raised button--select" id="other" name="recipient" value="other" data-hook="recipient">
                        <option>Other</option>
                        {{#each remainingRecipients}}
                            <option>{{name}}</option>
                        {{/each}}
                    </select>
                </div>

            {{/if}}
        </div>
        <div class="find__step">
            {{#if stepTwo}}
                <div class="find__text"><span class="capitalize">{{genderPossessive}}</span> age is <span class="find__blank">{{age}}</span></div>
                <!-- TODO Figure out better way to display this select -->
                <div class="input-group input-group--block">
                    <div class="radio-slider">
                        <div class="radio-slider__labels">
                            <label for="age-0">Any</label>
                            <label for="age-1">Newborn</label>
                            <label for="age-2">1 - 5</label>
                            <label for="age-3">11 - 15</label>
                            <label for="age-4">16 - 20</label>
                            <label for="age-5">21 - 30</label>
                            <label for="age-6">31 - 40</label>
                            <label for="age-7">41 - 50</label>
                            <label for="age-8">50+</label>
                        </div>
                        <!--TODO Make the session age the default checked age (if it is set)-->
                        <input class="radio-slider__option" value="any" type="radio" name="age" id="age-0" data-hook="age" checked />
                        <input class="radio-slider__option" value="newborn" type="radio" name="age" id="age-1" data-hook="age" />
                        <input class="radio-slider__option" value="1 - 5" type="radio" name="age" id="age-2" data-hook="age" />
                        <input class="radio-slider__option" value="11 - 15" type="radio" name="age" id="age-3" data-hook="age" />
                        <input class="radio-slider__option" value="16 - 20" type="radio" name="age" id="age-4" data-hook="age" />
                        <input class="radio-slider__option" value="21 - 30" type="radio" name="age" id="age-5" data-hook="age" />
                        <input class="radio-slider__option" value="31 - 40" type="radio" name="age" id="age-6" data-hook="age" />
                        <input class="radio-slider__option" value="41 - 50" type="radio" name="age" id="age-7" data-hook="age" />
                        <input class="radio-slider__option" value="50+" type="radio" name="age" id="age-8" data-hook="age" />

                        <div class="radio-slider__bar"></div>
                    </div>
                </div>
            {{/if}}
        </div>
        <div class="find__step">
            {{#if stepThree}}
                <div class="find__text">I want to spend between $<span class="find__blank">{{minPrice}}</span> and $<span class="find__blank">{{maxPrice}}</span></div>
                <div class="find__inputs">
                    <div class="input-group">
                        <input class="input-group__input input-group__input--addon" data-hook="min-price" name="min-price" id="min-price" type="number" step="any" min="0" value="" required />
                        <div class="input-group__addon">$</div>
                        <label class="input-group__label" for="min-price">Minimum price</label>
                        <span class="input-group__bar"></span>
                    </div>
                    <div class="input-group">
                        <input class="input-group__input input-group__input--addon" data-hook="max-price" name="max-price" id="max-price" type="number" step="any" min="0" value="" required />
                        <div class="input-group__addon">$</div>
                        <label class="input-group__label" for="max-price">Maximum price</label>
                        <span class="input-group__bar"></span>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</template>