<template name="win">
    <audio autoplay loop data-hook="win-music">
        <source src="audio/win_music.mp3" type="audio/mp3">
    </audio>
    {{#if showOutro}}
        <div class="cutscene">
            <div class="cutscene__skip" data-hook="skip">SKIP</div>
            <video class="cutscene__video" autoplay data-hook="outro-video">
                <source src="videos/win.mp4" type="video/mp4">
                Your browser does not support this video.
            </video>
        </div>
    {{/if}}
    <video class="loop-video" autoplay loop>
        <source src="videos/win_loop.mp4" type="video/mp4">
        Your browser does not support this video.
    </video>
    <h1 class="score">
        Ultimate victory!
        <br>
        <a href="{{pathFor 'home'}}">Play again?</a>
    </h1>
</template>