html {
    font-size: 18px;
}

body {
    background: #fff;
    font-size: 1em;
}

.main {
    position: relative;
}

.page {
    position: absolute;
}

.logo {
    font-size: 5em;
    margin: 1em auto;
    text-align: center;
    position: relative;
}
.logo__back {
    position: absolute;
    top: 0;
    left: .1em;
    color: rgb(80,80,80);
    transition: .2s ease all;
    width: 1em;
}
.logo__back:hover {
    color: rgb(80,80,80);
    text-decoration: none;
    left: 0;
}
.logo--small {
    margin: .5em auto;
    font-size: 2em;
}

/* -------------------- */
/* --- COMPONENTS */
/* -------------------- */

/* -------------------- */
/* --- BUTTON */
/* -------------------- */
.button {
    background-color: rgb(200,200,200);
    color: rgb(30,30,30);
    font-size: 1.5em;
    padding: 1em;
    min-width: 4em;
    text-align: center;
    display: inline;
    border: none;
    border-bottom: 3px solid rgb(80,80,80);
    border-radius: .2em;
    top: 0;
    transition: .2s ease all;
    position: relative;
}
.button:hover, .button:focus {
    text-decoration: none;
    outline: none;
    color: rgb(30,30,30);
    border-bottom-width: 10px;
    top: -5px;
}
.button:active {
    background-color: rgb(160,160,160);
    border-bottom-width: 0;
    top: 5px;
}
/* disabled button */
   .button.disabled {
       cursor: default;
       background-color: rgb(50, 135, 65);
       color: rgb(100, 165, 105);
   }
.button.disabled:hover, .button.disabled:focus {
    border-bottom-width: 5px;
    top: 0;
}
.button.disabled:active {
    border-bottom-width: 5px;
    top: 0
}
.button--block {
    display: block;
    width: 100%;
}
/* -------------------- */
/* --- BUTTON--RAISED */
/* -------------------- */
.button--raised {
    border: 0;
    box-shadow: 0 2px 3px 0 rgb(125,125,125);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.5);
    transition: .2s cubic-bezier(.4,0,.2,1) all;
}
.button--raised:hover,
.button--raised:focus {
    top: 0;
}
.button--raised:focus {
    background-color: rgb(225,225,225);
}
.button--raised:active {
    box-shadow: 0 5px 15px 0 rgb(125,125,125);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.5);
}

/* -------------------- */
/* --- DIVIDER */
/* -------------------- */
.divider {
    width: 100%;
    position: relative;
    display: block;
    margin: 3em 0;
}
.divider__bar {
    border-bottom: 1px solid rgb(230,230,230);
}
.divider__bar--left {
    display: inline-block;
    width: 45%;
}
.divider__bar--right {
    display: inline-block;
    width: 45%;
}
.divider__text {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 8%;
    font-size: 3em;
    top: .3em;
}

/* -------------------- */
/* --- INPUT GROUP */
/* -------------------- */
.input-group {
    position: relative;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
}
.input-group__input {
    display: block;
    border: none;
    border-bottom: 1px solid rgb(240,240,240);
    color: rgb(80,80,80);
    background-color: transparent;
    padding: .25em;
    padding-left: .1em;
    width: 100%;
}
.input-group__input:focus {
    outline: none;
}
/* input label */
.input-group__label {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    color: rgb(180,180,180);
    left: 5px;
    top: 10px;
    transition: .2s ease all;
}
.input-group__input:focus ~ label,
.input-group__input:valid ~ label {
    top: -20px;
    color: rgb(80,80,80);
    font-size: .8em;
    font-weight: bold;
}
/* input bar */
   .input-group__bar {
       position: relative;
       display: block;
       width: 100%;
   }
.input-group__bar:before,
.input-group__bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: rgb(17, 183, 51);
    transition: .2s ease all;
}
.input-group__bar:before {
    left: 50%;
}
.input-group__bar:after {
    right: 50%;
}
.input-group__input:focus ~ .input-group__bar:before,
.input-group__input:focus ~ .input-group__bar:after {
    width: 50%;
}
.input-group__addon {
    position: absolute;
    opacity: 0;
    color: rgb(80,80,80);
    top: 5px;
    left: -12px;
    transition: .2s ease all;
}
.input-group__input:focus ~ .input-group__addon,
.input-group__input:valid ~ .input-group__addon {
    opacity: 1;
}

.login-button,
.logout-button {
    cursor: pointer;
}
.sub-nav .active {
    background-color: rgb(230,230,230);
}
.form-inline * + .form-group {
    margin-left: 1em;
}
.featured__item {
    width: calc((100% - 10em) / 5);
    display: inline-block;
    border: 1px solid #f0f0f0;
    border-radius: 1em;
    margin: 1em;
}
.featured__image {
    width: 100%;
    border-radius: 1em;
}
.grid-list {
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
    margin: 0 auto;
}
@media screen and (min-width: 960px) {
    .grid-list {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}
@media screen and (min-width: 1110px) {
    .grid-list {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}
.grid-list__item {
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
    display: inline-block;
    margin: 0 2px 15px;
    border: 1px solid #e6e6e6;
    border-radius: 1em;
    background: #fefefe;
    position: relative;
}
.grid-list__image {
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    cursor: pointer;
}
.grid-list__container {
    padding: 1em;
}
.edit-button {
    display: none;
    margin: 0 1em;
}
.cancel-button {
    cursor: pointer;
    margin: 0 1em;
}
.temp-hide {
    display: none;
}
.pointer {
    cursor: pointer;
}
.gift__edit {
    position: absolute;
    right: 5px;
    top: 5px;
}
.arrow-down {
    display: none;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    margin-left: 0.5em;
}
.arrow-up {
    display: none;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
    margin-left: 0.5em;
}
.viewport {
    clear: both;
}
.popup {
    /*display: none;*/
    position: fixed;
    width: 50%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    overflow: scroll;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    padding: 3em;
}
.popup__container {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 3em;
    border-radius: 1em;
}
* + .popup__container {
    margin-top: 3em;
}
.popup__image-container {
    background-color: rgb(245,245,250);
}
.popup__image {
    max-width: 100%;
    margin: 1em auto;
    display: block;
    position: relative;
}
.popup__shade {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000;
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}
.popup__close {
    position: fixed;
    right: 1em;
    top: 0.5em;
    font-size: 3em;
    color: #e6e6e6;
    z-index: 3;
    cursor: pointer;
}
.popup__close:hover {
    color: #f00;
}

@keyframes fadeOut {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes fadeOut {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

.alert {
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 20em;
    height: 5em;
    position: fixed;
    right: 5em;
    z-index: 5;
}

.gifts {
    padding: 3em;
}

.gift {
    position: relative;
}

.gift.animate {
    -webkit-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
}

.comments-container {
    padding: 3em 0;
}
.comment {
    display: block;
    padding: 1em;
}
.comment:nth-child(even) {
    background-color: rgb(245,245,250);
}
.comment__author {
    font-weight: bold;
}
.comment__submitted {
    color: rgb(150,150,150);
    font-weight: normal;
}

/* -------------------- */
/* --- HOME */
/* -------------------- */
.home__find {
    text-align: center;
}
.home__buttons {
    margin: 3em auto;
}
.home__button + .home__button {
    margin-top: 2em;
}
.gender-button + .gender-button {
    margin-left: 2em;
}
.gender-button--male {

}
.gender-button--female {

}

.home__user {
    text-align: center;
}
.user__image {
    border-radius: .5em;
    max-width: 50%;
    box-shadow: 0 2px 3px 0 rgb(125,125,125);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.5);
}
.user__gifts {
    width: 30em;
    margin: 3em auto;
}
.user__gift {
    width: calc((100% / 3) - 6px);
    border-radius: .3em;
    box-shadow: 0 1px 5px 0 rgb(125,125,125);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.5);
}

/* -------------------- */
/* --- FIND */
/* -------------------- */
.find__text {
    font-size: 2em;
    position: relative;
}
.find__blank {
    border-bottom: 1px solid rgb(80,80,80);
    width: 10em;
    display: inline-block;
    margin: 0 1em;
}
.find__buttons {
    margin: 1em auto 0;
    width: 30em;
}
.find__button {
    display: inline-block;
    width: calc((100% / 3) - 8px);
    margin-top: 1em;
}
.find__button[type="radio"] {
    display: none;
}
.find__button[type="radio"]:checked + label {
    background-color: rgb(140,140,140);
    border-bottom-width: 0;
    top: 5px;
}
.find__buttons + .find__text {
    margin-top: 5em;
}

/* -------------------- */
/* --- LOGIN */
/* -------------------- */
.login__instead {
    display: block;
    text-align: center;
    margin-bottom: 2em;
}


/* -------------------- */
/* --- CAPITALIZE */
/* -------------------- */
.capitalize {
    text-transform: capitalize !important;
}