html {
    font-size: 18px;
}

body {
    background: rgb(250,250,250);
    font-size: 1em;
    /*overflow: hidden;*/
}

h1, h2 {
    font-family: 'Audiowide', sans-serif;
}

p, a, div {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

p {
    font-size: 1rem;
}
a {
    color: rgb(100,100,100);
}
a:hover, a:focus {
    color: rgb(100,100,100);
    text-decoration: none;
}

.main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.page {
    position: absolute;
}

.logo {
    font-size: 5em;
    margin: .5em auto 1em;
    text-align: center;
    position: relative;
    color: rgb(80,80,80);
    display: block;
    cursor: default;
}
.logo:hover,
.logo:focus {
    color: rgb(80,80,80);
}
.logo__back {
    position: absolute;
    top: 0;
    left: .1em;
    color: rgb(80,80,80);
    transition: .2s ease all;
    width: 1em;
}
.logo__back:hover {
    color: rgb(80,80,80);
    text-decoration: none;
    left: 0;
}
.logo--small {
    margin: .5em auto 1em;
    cursor: pointer;
    font-size: 3em;
}
.logo--small .logo__header {
    margin: .5em auto;
    font-size: .5em;
    font-weight: 100;
}
.logo--small .logo__subheader {
    display: none;
}



/* ----------------------------------- */
/* ----------------------------------- */
/* ------------ COMPONENTS */
/* ----------------------------------- */
/* ----------------------------------- */

/* -------------------- */
/* --- ACTOR */
/* -------------------- */
.actor {
    display: block;
    position: absolute;
    cursor: pointer;
    background-size: 2340px;
    background-image: url('images/sprites.gif');

    /* USE THIS TO SCALE IF NECESSARY */
    /*transform: scale(.5);*/
}
.actor__name {
    position: relative;
    font-size: 1.3em;
    text-align: center;
    top: -2em;
}
.actor.actor--large {
    left: 60vw;
    top: 10vh;
    transform: scale(4);
    transform-origin: top left;
    cursor: default;
}

/* --- DIMITRI */
.actor--Dimitri {
    left: 60%;
    top: 30%;
    width: 90px;
    height: 348px;
    background-position: 0 0;
}
.actor--Dimitri.actor--large {
    /*width: 360px;*/
}
.actor--Dimitri.isAngry {
    background-position-x: -450px;
}
.actor--Dimitri.isSurprised {
    background-position-x: -181px;
}
.actor--Dimitri.isSad {
    background-position-x: -272px;
}
.actor--Dimitri.isHappy {
    background-position-x: -362px;
}
.actor--Dimitri.isConfused {
    background-position-x: -91px;
}

/* --- GISELLE */
.actor--Giselle {
    left: 50%;
    top: 20%;
    width: 101px;
    height: 281px;
    background-position: -543px 0;
}
.actor--Giselle.isConfused {
    background-position-x: -644px;
}
.actor--Giselle.isSurprised {
    background-position-x: -746px;
}
.actor--Giselle.isSad {
    background-position-x: -847px;
}
.actor--Giselle.isHappy {
    background-position-x: -948px;
}
.actor--Giselle.isAngry {
    background-position-x: -1050px;
}

/* --- KAI */
.actor--Kai {
    left: 20%;
    top: 50%;
    width: 107px;
    height: 348px;
    background-position: -1699px 0;
}
.actor--Kai.isAngry {
    background-position-x: -2233px;
}
.actor--Kai.isSurprised {
    background-position-x: -1913px;
}
.actor--Kai.isSad {
    background-position-x: -2020px;
}
.actor--Kai.isHappy {
    background-position-x: -2127px;
}
.actor--Kai.isConfused {
    background-position-x: -1806px;
}

/* --- MARCEL */
.actor--Marcel {
    left: 70%;
    top: 70%;
    width: 92px;
    height: 287px;
    background-position-x: -1151px;
}
.actor--Marcel.isConfused {
    background-position-x: -1242px;
}
.actor--Marcel.isSurprised {
    background-position-x: -1334px;
}
.actor--Marcel.isSad {
    background-position-x: -1425px;
}
.actor--Marcel.isHappy {
    background-position-x: -1517px;
}
.actor--Marcel.isAngry {
    background-position-x: -1608px;
}



/* -------------------- */
/* --- BUTTON */
/* -------------------- */
.button {
    display: inline-block;
    background-color: rgb(150,150,150);
    color: rgb(245,245,245);
    padding: .5em 1em;
    border: 1px solid rgb(100,100,100);
    border-radius: .3em;
}
.button:hover {
    background-color: rgb(180,180,180);
    color: rgb(245,245,245);
}
* + .button {
    margin-top: 1em;
}


/* -------------------- */
/* --- DISPLAY LIST */
/* -------------------- */
.display-list {
    width: 50%;
    margin: 5em auto;
}
.display-list .display-list__image {
    display: inline-block;
    width: 2.3em;
    height: 1.5em;
    background-image: url('images/sprites.png');
    background-size: 2340px;
}
.display-list .player-image {
    background-image: none;
    text-align: center;
    color: rgb(100,100,100);
    width: 1.15em;
    font-size: 2em;
    font-weight: bold;
}
.display-list__item {
    font-size: 2em;
    background-color: rgb(230,230,230);
    padding: 1em;
}
.display-list__item + .display-list__item {
    margin-top: 1em;
}

.player-input {
    width: 40%;
    font-size: .7em;
    padding: .5em;
}


/* -------------------- */
/* --- HOME */
/* -------------------- */
.eve {
    position: absolute;
    right: -15vw;
    top: 20vh;
    z-index: -1;
}
.eve__image {
    background-image: url('/images/eve.gif');
    background-size: contain;
    background-repeat: no-repeat;
    width: 35em;
    height: 50em;
}
.eve__siren {
    background: -webkit-radial-gradient(rgba(255,0,0,1), rgba(255,255,255,0), rgba(255,255,255,0));
    width: 10em;
    height: 10em;
    border-radius: 100%;
    position: absolute;
    top: -4em;
    left: 12em;
}


/* -------------------- */
/* --- HUD */
/* -------------------- */
.hud {
    position: absolute;
    display: block;
    width: 100%;
    z-index: 2;
}
.hud__counter {
    display: block;
    position: relative;
    top: 10vh;
    padding: 1em;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}


/* -------------------- */
/* --- INPUT */
/* -------------------- */
.input {

}


/* -------------------- */
/* --- MENU */
/* -------------------- */
.menu {
    display: block;
    text-align: center;
}
.menu__button {
    display: block;
    font-size: 2em;
    border: 3px solid rgb(30,30,30);
    border-radius: .3em;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
    font-weight: bold;
    padding: .5em;
}
.menu__button:hover {
    background-color: rgb(200,200,200);
}
.menu__button + .menu__button {
    margin-top: 1em;
}


/* -------------------- */
/* --- SCORE */
/* -------------------- */
.score {
    position: relative;
    top: 40vh;
    text-align: center;
}


/* -------------------- */
/* --- STAGE */
/* -------------------- */
.stage {
    display: block;
    position: relative;
    top: 10vh;
    width: 100vw;
    height: 80vh;
    background-color: rgb(230,230,230);
}


/* -------------------- */
/* --- TALK BOX */
/* -------------------- */
.talk-box {
    position: relative;
    top: 70vh;

    border: 3px solid rgb(30,30,30);
    padding: 2em;
    width: 90%;
    height: 20vh;
    margin: 0 auto;

    background-color: rgba(255,255,255,.9);
}
.talk-box__choices {
    margin-top: 1em;
}
.talk-box__choice {
    display: inline-block;
    width: 48%;
    text-align: center;
    cursor: pointer;
}
.talk-box__choice:hover {
    background-color: rgb(230,230,230);
}
.talk-box__choice--back {
    width: 100%;
    font-size: 1.5em;
}

/* -------------------- */
/* --- CUTSCENE */
/* -------------------- */
.cutscene__placeholder {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 10vh;
    color: white;
    z-index: 3;
}
.cutscene__video {
    position: absolute;
    top: 50vh;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}
.cutscene__skip {
    position: absolute;
    right: 1em;
    top: 80vh;
    z-index: 2;
    color: white;
    font-size: 2em;
    cursor: pointer;
}
.cutscene__skip:hover {
    color: rgb(200,200,200);
}


/* -------------------- */
/* --- HELPERS */
/* -------------------- */
.capitalize {
    text-transform: capitalize !important;
}

.float-right {
    float: right;
}