<template name="characters">
    {{> logo}}
    <div class="container">
        <h1>The Team</h1>
        {{#each characters}}
            <div class="character">
                    <strong>{{position}}:</strong> {{name}}
            </div>
        {{/each}}
        <label for="name">Head:</label>
        <input class="input" name="name" id="name" type="text" placeholder="What is your name?" data-hook="name" />
        <a class="button" href="{{pathFor 'stage'}}" data-hook="name-input">Start</a>
    </div>
</template>