<template name="characters">
    <!--{{> logo}}-->

    <div class="container">
        <div class="display-list">
            <h1>The Team</h1>
            {{#each characters}}
                <div class="display-list__item">
                    <div class="display-list__image actor--{{name}}"></div>
                    <strong>{{position}}:</strong> &nbsp;&nbsp;{{name}}
                </div>
            {{/each}}
            <div class="display-list__item">
                <div class="display-list__image player-image">?</div>
                <label for="name">The Head:</label>
                <input class="input player-input" name="name" id="name" type="text" placeholder="Your Name" value="{{playerName}}" data-hook="name" />
                <a class="button float-right" href="{{pathFor 'stage'}}" data-hook="name-input">Go!</a>
            </div>
        </div>
    </div>
</template>