<template name="stage">
    {{#if showIntro}}
    <div class="cutscene">
        <h1 class="cutscene__placeholder">THIS IS AN INTRO PLACEHOLDER</h1>
        <div class="cutscene__skip" data-hook="skip">SKIP</div>
        <video class="cutscene__video" autoplay data-hook="intro-video">
            <source src="videos/glass-stock.mp4" type="video/mp4">
            Your browser does not support this video.
        </video>
    </div>
    {{/if}}
    <div class="stage">
        {{#each actors}}
            <div class="stage__actor actor--{{name}} {{disabledClass name}}" data-hook="actor">
                {{> actor}}
            </div>
        {{/each}}
    </div>
</template>