<template name="giftItem">
    <div class="grid-list__item gift">
        <a href="{{pathFor 'giftPage'}}">
            <img class="grid-list__image" src="{{image}}" data-hook="image" />
        </a>
        <div class="grid-list__container">
            <a class="gift__want button button--raised {{wantedClass}}" data-hook="want" href="#">Want ⬆</a>
            <p>
                {{#if wants}}
                    {{#if pluralWants}}
                        <p>{{wants}} people want this gift</p>
                    {{else}}
                        <p>1 person wants this gift</p>
                    {{/if}}
                {{/if}}
            </p>
            <p>
                {{#if commentsCount}}
                    {{commentsCount}} comments
                {{/if}}
            </p>
        </div>
        <p>
            {{#if ownGift}}<a href="{{pathFor 'giftEdit'}}">Edit</a>{{/if}}
        </p>
    </div>
    <div class="{{displayClass}}">
        <div class="popup__close" data-hook="close">X</div>
        <div class="popup__shade" data-hook="shade"></div>
        {{> giftPage}}
    </div>
</template>