<template name="giftSubmit">
    <p class="submit__intro">Sharing is caring: The more you describe the gift, the more helpful it will be to other gift-givers!</p>

    <form class="main form">
        <div class="input-group {{errorClass 'title'}}">
            <input class="input-group__input" name="title" id="title" type="text" maxlength="50" value="" required />
            <label class="input-group__label" for="title">What is the name of gift?</label>
            <span class="input-group__bar"></span>
            <span class="help-block">{{errorMessage 'title'}}</span>
        </div>
        <!-- TODO make sure you can both upload and use a URL -->
        <!-- TODO Configure image upload -->
        <div class="input-group {{errorClass 'image'}}">
            <label class="image__label" for="image">Upload an image of the gift</label>
            {{> upload_bootstrap}}
        </div>
        <div class="input-group {{errorClass 'link'}}">
            <input class="input-group__input" name="link" id="link" type="url" value="" required />
            <label class="input-group__label" for="link">Where can someone buy the gift online?</label>
            <span class="input-group__bar"></span>
            <span class="help-block">{{errorMessage 'link'}}</span>
        </div>
        <div class="input-group {{errorClass 'price'}}">
            <input class="input-group__input input-group__input--addon" name="price" id="price" type="number" step="any" min="0" value="" required />
            <div class="input-group__addon">$</div>
            <label class="input-group__label" for="price">How much did the gift cost?</label>
            <span class="input-group__bar"></span>
            <span class="help-block">{{errorMessage 'price'}}</span>
        </div>
        <div class="input-group input-group--select {{errorClass 'recipient'}}">
            <label for="recipient">Who is the gift for?</label>
            <select class="select" id="recipient" name="recipient" value="recipient" data-hook="recipient">
                <option>Recipient</option>
                {{#each recipients}}
                    <option>{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="input-group {{errorClass 'age'}}">
            <input class="input-group__input"  name="age" id="age" type="number" value="" required />
            <label class="input-group__label" for="age">How old is that lucky person?</label>
            <span class="input-group__bar"></span>
            <span class="help-block">{{errorMessage 'age'}}</span>
        </div>
        <div class="input-group input-group--select {{errorClass 'occasion'}}">
            <label for="occasion">Why did you get the gift?</label>
            <select class="select" id="occasion" name="occasion" value="occasion" data-hook="occasion">
                <option>Occasion</option>
                {{#each occasions}}
                    <option>{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="input-group {{errorClass 'description'}}">
            <textarea class="input-group__textarea" name="description" id="description" type="text" rows="5" maxlength="1000" value="">
            </textarea>
            <label class="input-group__label input-group__label--active" for="description">Tell us about the gift</label>
            <span class="input-group__bar"></span>
            <span class="help-block">{{errorMessage 'description'}}</span>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
        <a class="btn btn-primary" data-hook="submit-cancel">Cancel</a>
    </form>
</template>