<template name="giftsList">
    <div class="collapse navbar-collapse">
        <ul class="sub-nav nav navbar-nav">
            <li class="{{activeRouteClass 'home' 'newGifts'}}">
                <a href="{{pathFor 'newGifts'}}">New</a>
            </li>
            <li class="{{activeRouteClass 'home' 'bestGifts'}}">
                <a href="{{pathFor 'bestGifts'}}">Best</a>
            </li>
        </ul>
    </div>
    <div class="grid-list gifts">
        {{#each gifts}}
          {{> giftItem}}
        {{/each}}

    </div>
    {{#if nextPath}}
        <a class="btn btn-primary btn-lg btn-block" href="{{nextPath}}">Load more</a>
    {{else}}
        {{#unless ready}}
            {{> spinner}}
        {{/unless}}
        <p>No more gifts to display.</p>
    {{/if}}
</template>