<template name="giftSubmit">
    <div class="logo logo--small">
        YGMYG
        <a class="logo__back" href="/">&#10094;</a>
    </div>

    <form class="main form">
        <div class="input-group {{errorClass 'title'}}">
            <input class="input-group__input" name="title" id="title" type="text" value="" required />
            <label class="input-group__label" for="title">What is the gift?</label>
            <span class="input-group__bar"></span>
            <span class="help-block">{{errorMessage 'title'}}</span>
        </div>
        <div class="input-group {{errorClass 'image'}}">
            <input class="input-group__input" name="image" id="image" type="url" value="" required />
            <label class="input-group__label" for="image">Image URL</label>
            <span class="input-group__bar"></span>
            <span class="help-block">{{errorMessage 'image'}}</span>
        </div>
        <!-- TODO Configure image upload -->
        {{> upload_bootstrap}}
        <div class="input-group {{errorClass 'link'}}">
            <input class="input-group__input" name="link" id="link" type="url" value="" required />
            <label class="input-group__label" for="link">Where can someone buy the gift online?</label>
            <span class="input-group__bar"></span>
            <span class="help-block">{{errorMessage 'link'}}</span>
        </div>
        <div class="input-group {{errorClass 'price'}}">
            <input class="input-group__input input-group__input--addon" name="price" id="price" type="number" step="any" min="0" value="" required />
            <div class="input-group__addon">$</div>
            <label class="input-group__label" for="price">How much did the gift cost?</label>
            <span class="input-group__bar"></span>
            <span class="help-block">{{errorMessage 'price'}}</span>
        </div>
        <div class="input-group {{errorClass 'age'}}">
            <input class="input-group__input"  name="age" id="age" type="number" value="" required />
            <label class="input-group__label" for="age">How old is that lucky person?</label>
            <span class="input-group__bar"></span>
            <span class="help-block">{{errorMessage 'age'}}</span>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</template>