<template name="giftEdit">
    <form class="main form page">
        <div class="form-group {{errorClass 'title'}}">
            <label class="control-label" for="title">TItle</label>
            <div class="controls">
                <input name="title" id="title" type="text" value="" placeholder="What is the gift?" class="form-control" />
                <span class="help-block">{{errorMessage 'title'}}</span>
            </div>
        </div>
        <div class="form-group {{errorClass 'image'}}">
            <label class="control-label" for="image">Image</label>
            <div class="controls">
                <input name="image" id="image" type="url" value="" placeholder="Image URL" class="form-control" />
                <span class="help-block">{{errorMessage 'image'}}</span>
            </div>
        </div>
        <div class="form-group {{errorClass 'link'}}">
            <label class="control-label" for="link">Link</label>
            <div class="controls">
                <input name="link" id="link" type="url" value="" placeholder="Where can someone buy the gift online?" class="form-control" />
                <span class="help-block">{{errorMessage 'link'}}</span>
            </div>
        </div>
        <div class="form-group {{errorClass 'price'}}">
            <label class="control-label" for="price">Gift Price</label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <div class="controls">
                    <input name="price" id="price" type="number" step="any" min="0" value="" placeholder="How much did the gift cost?" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group {{errorClass 'age'}}">
            <label class="control-label" for="age">Recipient Age</label>
            <div class="controls">
                <input name="age" id="age" type="number" value="" placeholder="How old is that lucky person?" class="form-control" />
                <span class="help-block">{{errorMessage 'age'}}</span>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</template>