<template name="giftsList">
    <div class="collapse navbar-collapse">
        <ul class="sub-nav nav navbar-nav">
            <li class="{{activeRouteClass 'home' 'newGifts'}}">
                <a href="{{pathFor 'newGifts'}}">New</a>
            </li>
            <li class="{{activeRouteClass 'home' 'bestGifts'}}">
                <a href="{{pathFor 'bestGifts'}}">Best</a>
            </li>
        </ul>
    </div>

    <div class="form-inline">
        <div class="form-group">
            <label for="age">Age</label>
            <select class="form-control" id="age" data-hook="age">
                <option>Any age</option>
                <option>Newborn</option>
                <option>1 - 5</option>
                <option>11 - 15</option>
                <option>16 - 20</option>
                <option>21 - 30</option>
                <option>31 - 40</option>
                <option>41 - 50</option>
                <option>50+</option>
            </select>
        </div>

        <div class="form-group">
            <label for="price">Minimum Price</label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input class="form-control" data-hook="min-price" placeholder="0.00" type="number" step="any" min="0">
            </div>
        </div>

        <div class="form-group">
            <label for="price">Maximum Price</label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input class="form-control" data-hook="max-price" placeholder="0.00" type="number" step="any" min="0">
            </div>
        </div>

        <div class="form-group">
            <label for="submitted">Submitted</label>
            <select class="form-control" id="submitted" data-hook="submitted">
                <option>Today</option>
                <option>This week</option>
                <option>This month</option>
                <option>This year</option>
                <option>All time</option>
            </select>
        </div>
    </div>

    <div class="grid-list gifts" data-hook="gifts">
        {{#if filteredGifts}}
            {{#each filteredGifts}}
                {{> giftItem}}
            {{/each}}
        {{else}}
            {{#each gifts}}
              {{> giftItem}}
            {{/each}}
        {{/if}}
    </div>

    {{#if nextPath}}
        <a class="btn btn-primary btn-lg btn-block" href="{{nextPath}}">Load more</a>
    {{else}}
        {{#unless ready}}
            {{> spinner}}
        {{/unless}}
        <p>No more gifts to display.</p>
    {{/if}}
</template>