<template name="home">
    {{#unless currentUser}}
        <div class="logo">BowBase</div>
        <div class="home__find">
            <p class="find__text">
                I want a gift for a <span class="find__blank"></span>
            </p>
            <div class="find__buttons">
                <a class="button button--raised find__button gender-button gender-button--male" href="{{pathFor 'find' gender='male'}}">MALE</a>
                <a class="button button--raised find__button gender-button gender-button--female" href="{{pathFor 'find' gender='female'}}">FEMALE</a>
            </div>
        </div>
        <div class="divider">
            <div class="divider__bar divider__bar--left"></div>
            <div class="divider__text">OR</div>
            <div class="divider__bar divider__bar--right"></div>
        </div>
        <a class="button button--raised button--block home__button" href="{{pathFor 'login'}}">LOG IN / SIGN UP</a>
        <a class="button button--raised button--block home__button" href="{{pathFor 'browse'}}">BROWSE</a>
    {{else}}
        <div class="logo logo--small">
            BowBase
        </div>
        <div class="home__user">
            <!-- TODO add account settings -->
            <a href="{{pathFor 'account'}}">
                <h1>{{name}}</h1>
                <img class="user__image" src="{{avatar}}" />
            </a>
            <!-- TODO level system -->
            <h2>{{getGenerosityLevel user.profile.generosity}}</h2>

            <div class="home__buttons">
                <a class="button button--raised button--block home__button" href="{{pathFor 'find'}}">FIND A GIFT</a>
                <a class="button button--raised button--block home__button" href="{{pathFor 'giftSubmit'}}">SUBMIT A GIFT</a>
                <a class="button button--raised button--block home__button" href="{{pathFor 'browse'}}">BROWSE</a>
            </div>

            <h1>You Recommend</h1>
            <div class="user__gifts">
                {{#if haveRecommendations}}
                    {{#each gifts}}
                        <a href="{{pathFor 'giftPage'}}">
                            <img class="user__gift" src="{{image}}" />
                        </a>
                    {{/each}}
                {{else}}
                    No recommendations yet. <a href="{{pathFor 'giftSubmit'}}">Submit a gift.</a>
                {{/if}}
            </div>
            <h1>You Want</h1>
            <div class="user__gifts">
                {{#if haveWants}}
                    {{#each wants}}
                        <a href="{{pathFor 'giftPage'}}">
                            <img class="user__gift" src="{{image}}" />
                        </a>
                    {{/each}}
                {{else}}
                    No wants yet. <a href="{{pathFor 'browse'}}">Browse gifts.</a>
                {{/if}}
            </div>
        </div>

        <div class="home__buttons">
            <a class="button button--raised button--block home__button" href="{{pathFor 'account'}}">ACCOUNT SETTINGS</a>
            <a class="button button--raised button--block home__button" href="#" data-hook="log-out">LOGOUT</a>
        </div>
    {{/unless}}
</template>