<template name="lose">
    {{#if showOutro}}
        <div class="cutscene">
            <h1 class="cutscene__placeholder">THIS IS A LOSS OUTRO PLACEHOLDER</h1>
            <div class="cutscene__skip" data-hook="skip">SKIP</div>
            <video class="cutscene__video" autoplay data-hook="outro-video">
                <source src="videos/glass-stock.mp4" type="video/mp4">
                Your browser does not support this video.
            </video>
        </div>
    {{/if}}
    <h1 class="score">
        You lose. <a href="{{pathFor 'home'}}">Try again?</a>
    </h1>
</template>